## Description

Objectives:
1. Connect to the database
2. Read CSV file
3. Create the DDL statement for creating the table in postgres
4. Create the ingestion script to ingest the data which is csv file to the postgres in chunks

In [1]:
import pandas as pd

In [2]:
!url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-08.csv.gz" && wget -P ./data/ $url
!ls data

--2023-04-13 02:13:23--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-08.csv.gz
Resolving github.com (github.com)... ::ffff:140.82.114.4, 140.82.114.4
Connecting to github.com (github.com)|::ffff:140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/cabf77d2-e711-4bf4-a64e-aea7824bdc4e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230413%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230413T021323Z&X-Amz-Expires=300&X-Amz-Signature=45e7653485351e621ad257f66824897d3aa01eda7d853c73bb20c819c7707c7b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-08.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-04-13 02:13:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/cabf77d2-e711-4bf4-a64e-aea7824bdc4e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230413%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230413T021323Z&X-Amz-Expires=300&X-Amz-Signature=45e7653485351e621ad257f66824897d3aa01eda7d853c73bb20c819c7707c7b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-08.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 111465721 (106M) [application/octet-stream]
Saving to: ‘./data/yellow_tripdata_2019-08.csv.gz.1’

019-08.csv.gz.1      58%[==========>         ]  62.62M  3.76MB/s    eta 12s    ^C
yellow_tripdata_2019-08.csv.gz	yellow_tripdata_2019-08.csv.gz.1

### Loading the data to pandas dataframe

After we have downloaded the file

In [5]:
import os
os.listdir("data")
test_file = os.listdir("data")[1]

test_file

'yellow_tripdata_2019-08.csv.gz'

In [6]:
pd.read_csv(f"data/{test_file}", nrows=100).head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-08-01 00:09:46,2019-08-01 00:10:36,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
1,1,2019-08-01 00:30:47,2019-08-01 00:31:39,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
2,1,2019-08-01 00:44:50,2019-08-01 00:46:32,1,7.1,1,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
3,1,2019-08-01 00:57:16,2019-08-01 00:58:20,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0
4,1,2019-08-01 00:59:18,2019-08-01 01:04:13,1,0.0,1,N,145,145,2,4.5,0.5,0.5,0.0,0.0,0.3,5.8,0.0

## SQLALCHEMY CONNECTION

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text as t

In [14]:
connection_string = "postgresql://user:password@postgres_db_zoomcamp:5432/ny_taxi"
engine = create_engine(connection_string)
engine

Engine(postgresql://user:***@postgres_db_zoomcamp:5432/ny_taxi)

In [15]:
# create a connection and test
connection = engine.connect()
connection.execute(t("Select 1")).fetchall()
connection.close()

## Create DDL statement for the table

In [16]:
# get the columns
cols = pd.read_csv(f"data/{test_file}", nrows=0).columns
date_cols = cols[cols.str.contains("date")].tolist()

# get the first 100 rows to infer the datatypes
data_sample = pd.read_csv(f"data/{test_file}", nrows=100, parse_dates=date_cols).head()
data_sample.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [17]:
with open("create_tables.sql", "w") as file:
    _ = pd.io.sql.get_schema(data_sample, "ny_taxi_data", con=engine).replace("CREATE TABLE", "CREATE TABLE IF NOT EXISTS")
    file.write(_)

In [18]:
print(_)

CREATE TABLE IF NOT EXISTS ny_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [19]:
!ls

Dockerfile  create_tables.sql  data  test_notebook.ipynb  test_pipeline.py

### Logic to load the data to the table

In [144]:
with engine.connect() as conn:
    conn.execute(t("DROP TABLE IF EXISTS ny_taxi_data"))
    conn.commit()

with engine.connect() as c:
    c.execute(t(_))
    c.commit()

In [22]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.65.0-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.1/77.1 KB 1.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.65.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [142]:
from tqdm import tqdm
import subprocess

filename = f"data/{test_file}"
CHUNK_SIZE = 100000
MAX_ROWS = int(subprocess.check_output(f"zcat -f data/{test_file} | wc -l ", shell=True).split()[0]) - 1
print(f"Total number of rows to ingest are {MAX_ROWS}")

data_iterator = pd.read_csv(f"data/{test_file}", chunksize=CHUNK_SIZE, iterator=True)
with engine.connect() as conn:
    with tqdm(total=MAX_ROWS, desc="Chunks read: ") as bar:
        for data in data_iterator:
            data.to_sql("ny_taxi_data", if_exists="append", index=False, con=conn)
            conn.commit()
            bar.update(data.shape[0])
        print("Done")

print("Exited")

Chunks read:  99%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍ | 6000000/6073357 [17:22<00:10, 6877.11it/s]/tmp/ipykernel_33/3085020054.py:12: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for data in data_iterator:
Chunks read: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6073357/6073357 [17:32<00:00, 5768.60it/s]

Done
Exited

In [143]:
with engine.connect() as conn:
    conn.execute(t("DROP TABLE IF EXISTS ny_taxi_data"))
    conn.commit()

In [151]:
from sqlalchemy import inspect

ins = inspect(engine)
ins.has_table("ny_taxi_data", schema="public")

True

In [152]:
import os

url = 'https://example.com/file.txt'
'download' + os.path.splitext(url)[1]

'download.txt'

In [153]:
os.path.splitext(url)

('https://example.com/file', '.txt')